.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: greenyellow;
  font-family: "Pretendard-Bold";
  z-index: 10;
}

#open-modal {
  cursor: pointer;
}

#main_logo {
  cursor: pointer;
}
