#modal {
  width: 200px;
  height: 80%;
  padding: 20px;
  background-color: green;
  position: fixed;
  right: 0;
  top: 100px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  transform: translateX(200px);
  /* transition: all 0.3s ease-in-out; */
}

#modal ul {
  font-family: "Pretendard-Medium";
  margin-top: 40px;
  color: white;
}

#modal li {
  text-align: center;
  padding: 6px 0px;
  cursor: pointer;
}

#modal li:hover {
  background-color: white;
  color: black;
}

#buy-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto auto;
  padding: 20px 0px;
  max-width: 50%;
  max-height: 60%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 32px;
}

#buy-modal h1 {
  font-family: "Pretendard-Bold";
  font-size: 32px;
}
#buy-modal ul {
  width: 80%;
  height: 80%;
  padding: 10px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  font-family: "Pretendard-Medium";
}

#exit-buy-modal {
  cursor: pointer;
  position: absolute;
  left: 20px;
}
