#modal {
  width: 200px;
  height: 80%;
  padding: 20px;
  background-color: green;
  position: fixed;
  right: 0;
  top: 100px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  transform: translateX(200px);
  /* transition: all 0.3s ease-in-out; */
}

#modal ul {
  font-family: "Pretendard-Medium";
  margin-top: 40px;
  color: white;
}

#modal li {
  text-align: center;
  padding: 6px 0px;
  cursor: pointer;
}

#modal li:hover {
  background-color: white;
  color: black;
}
